<p id="notice"><%= notice %></p>

<h1>Enólogos</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Edad</th>
      <th>País</th>
      <th>Revista y Rol(es)</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @enologists.each do |enologist| %>
      <tr>
        <td><%= enologist.name %></td>
        <td><%= enologist.age %></td>
        <td><%= enologist.country %></td>
        <td><%= enologist.jobs %></td>
        <td><%= link_to 'Show', enologist %></td>
        <td><%= link_to 'Edit', edit_enologist_path(enologist) %></td>
        <td><%= link_to 'Destroy', enologist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Enólogo', new_enologist_path %>
<%= link_to 'Volver al Listado', root_path %>
