<%= form_with(model: wine) do |form| %>
  <% if wine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(wine.errors.count, "error") %> prohibited this wine from being saved:</h2>

      <ul>
        <% wine.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

<h3>Cepas</h3>
  <div id="wine_strains">
    <%= form.fields_for :wine_strains do |ws| %>
      <%= render 'wine_strain_fields', :f => ws %>
    <% end %>
    <div class='links'>
      <%= link_to_add_association 'add cepa', form, :wine_strains %>
    </div>
  </div>

  <h3>Puntaje:</h3>
  <div id='wine_enologists'>
    <%= form.fields_for :wine_enologists do |we| %>
      <%= render 'wine_enologist_fields', :f => we %>
    <% end %>
    <div class='links'>
      <%= link_to_add_association 'Calificar', form, :wine_enologists %>
    </div>
  </div> 

  <div class="actions">
    <%= form.submit 'Guardar Vino' %>
  </div>
<% end %>
