
<h1>Vinos de Peter</h1>
<p id="notice" class="alert-primary"><%= notice %></p>
<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Cepas Incluidas</th>
      <th>Calificación</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wines.each do |wine| %>
      <tr>
        <td><%= wine.name %></td>
        <td><%= wine.recipe %></td>
        <td><%= wine.winescore %></td>

        <td><%= link_to 'Show', wine %></td>
        <td><%= link_to 'Edit', edit_wine_path(wine) %></td>
        <td><%= link_to 'Destroy', wine, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.admin? %>
<%= link_to 'Agregar Nuevo Vino', new_wine_path %><br>
<%= link_to 'Agregar Nuevas Cepas', new_strain_path %><br>
<%= link_to 'Ver Enólogos', enologists_path %><br>
<%= link_to 'Agregar Nuevo Enólogo', new_enologist_path %><br>
<%end%>

